<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MainXMLSuiteFile">
	<test thread-count="5" name="MainXMLTestFile">
		<classes>
			<class name="com.spotify.oauth2.testcases.PlaylistTestCases">
				<methods>
					<include name="ValidateCreatingAPlaylist"></include>
					<include name="ValidateFetchingAPlaylist"></include>
					<include name="ValidateCreatingAPlaylistWithoutPlayListName"></include>
					<include name="ValidateCreatingAPlaylistWithoutPlayListDescription"></include>
				</methods>
			</class>
		</classes>
	</test> <!--
	MainXMLTestFile -->
</suite> <!--
MainXMLSuiteFile -->
